{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    {% block includes %}

    {% endblock %}
     <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <meta charset="UTF-8">
    <title>TODO list</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="{% url 'login' %}">{% trans 'Logowanie' %}</a></li>
            <li><a href="{% url 'register' %}">{%  trans 'Rejestracja' %}</a></li>
            <li><a href="{% url 'trans' 'en' %}">EN</a></li>
            <li><a href="{% url 'trans' 'pl' %}">PL</a></li>
        </ul>
    </nav>
</header>
{% block content %}

{% endblock %}
<footer> </footer>
</body>
</html>