{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<section class="container">
    <div class="white_box">
        <h2>TODO list</h2>
        <p>{%  trans 'Zrób wszystko' %}</p>
        <a href="{% url 'register' %}" } >{%  trans 'Rejestracja' %}</a>
    </div>
</section>
{% endblock %}