{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    {% block includes %}

    {% endblock %}
     <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <meta charset="UTF-8">
    <script src="{% static 'js/jquery.js' %}"></script>
    <title>TODO list</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="{% url 'user_show' %}">{% trans 'Profil' %}</a></li>
            <li><a href="{% url 'logout' %}">{% trans 'Wyloguj' %}</a></li>
        </ul>
    </nav>
</header>
<div class="container">
    <section class="submenu">
        <button>{% trans 'Nowe zadanie' %}</button>
        <nav>
            <h4>{% trans 'Zadania' %}</h4>
            <ul>
                <li><a href="">{% trans 'Dzisiaj' %}</a> </li>
                <li><a href="">{% trans 'Jutro' %}</a> </li>
                <li><a href="">{% trans 'Następny tydzień' %}</a> </li>
                <li><a href="">{% trans 'Wszystkie zadania' %}</a> </li>
            </ul>
            <h4>{% trans 'Kategorie' %}</h4>
            <ul>
                <li><a href="">{% trans 'Kategoria1' %}</a> </li>
                <li><a href="">{% trans 'Kategoria2' %}</a> </li>
                <li><a href="">{% trans 'Kategoria3' %}</a> </li>
                <li><a href="">{% trans 'Kategoria4' %}</a> </li>
            </ul>
            <a class="stat" href="">{% trans 'Statystyki' %}</a>
        </nav>
    </section>

    <section class="content">
        {% block content %}

        {% endblock %}
    </section>
</div>

<footer> </footer>
{%  block scripts %}

{%  endblock %}
</body>
</html>