{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <section class="content">
    <div class="login_form">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <label>{% trans 'Login' %}</label>
            <input type="text" name="username"   />
            <label>{% trans 'Hasło' %}</label>
            <input type="password" name="password"   />
            <input type="submit" id="login" class="btn btn-success" value="{%  trans 'Zaloguj' %}" />
        </form>
    </div>
    </section>
{% endblock %}