{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <section class="content_register">
    <div class="register_form">
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" id="register" value="{%  trans 'Rejestracja' %}">
        </form>
    </div>
    </section>
{% endblock %}