{% extends 'base_dashboard.html' %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
    <form class="base-form" action="{% url 'user_edit' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label>{% trans 'Imię' %}</label>
        <input type="text" name="name" value="{{ request.user.name }}" />

        <label>{% trans 'Country' %}</label>
        <select id="country">
            {% for country in countries %}
                <option value="{{ country.id }}">{{ country.name }}</option>
            {% endfor %}
        </select>

        <label>{% trans 'City' %}</label>
        <select name="cities" id="cities">
        </select>
        <input type="submit" class="btn btn-success" value="{% trans 'Zapisz' %}">
    </form>
{% endblock %}

{% block scripts %}
    <script>

        function get_cities(url){
            $.ajax({
                url: url,
                method: "GET",
            }).done(function(data){
                $(cities).empty();
                for(var i=0; i< data['cities'].length; i++){
                    var option = '<option value="' + data['cities'][i]['id'] + '">' + data['cities'][i]['name'] + '</option>'
                    $(cities).append(option);
                }
                console.log(data['cities']);
            });
        }

        $(document).ready(function(){
            var cities = $('#cities');
            $('#country').val({{ request.user.city.country_id }});
            var url = '/cities/'+ {{ request.user.city.country_id }};
            get_cities(url);
            $('#cities').val({{ request.user.city.id }});
            $('#country').change(function(){
                var country_id = $(this).val();
                var url = '/cities/'+ country_id;
                get_cities(url);
            });
        });
    </script>
{% endblock %}