{% extends 'base_dashboard.html' %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
<table class="profile">
        <tr>
            <td>{% trans 'Imię' %}</td>
            <td>{{ request.user.name }}</td>
        </tr>
        <tr>
            <td>{% trans 'Kraj' %}</td>
            <td>{{ request.user.city.country.name }}</td>
        </tr>
        <tr>
            <td>{% trans 'Miasto' %}</td>
            <td>{{ request.user.city.name }}</td>
        </tr>
    </table>
    <a href="{% url 'user_edit' %}">{% trans 'Edytuj' %}</a>
{% endblock %}