{% extends 'base_dashboard.html' %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
   <h2>{% trans 'Zadania na dziś' %}</h2>
    <ul class="tasks">
        <li class="task high">
            <div class="description">
                <h3>Sprzątanie</h3>
                <p>Umyj podłogi i okna</p>
            </div>
            <div class="actions">
                <p>20.05.2016</p>
                <ul>
                    <li><a><img src="{% static 'img/edit.png' %}"></a></li>
                    <li><a><img src="{% static 'img/delete.png' %}"></a></li>
                    <li><a><img src="{% static 'img/done.png' %}"></a></li>
                </ul>
                <p class="category">Studia</p>
            </div>
        </li>
        <li class="task medium">
            <div class="description">
                <h3>Sprzątanie</h3>
                <p>Umyj podłogi i okna, potem odkurz cały dom. Pobaw się w kopciuszka i wybierz się na bal.</p>
            </div>
            <div class="actions">
                <p>20.05.2016</p>
                <ul>
                    <li><a><img src="{% static 'img/edit.png' %}"></a></li>
                    <li><a><img src="{% static 'img/delete.png' %}"></a></li>
                    <li><a><img src="{% static 'img/done.png' %}"></a></li>
                </ul>
                <p class="category">Studia</p>
            </div>
        </li>
        <li class="task low">
            <div class="description">
                <h3>Sprzątanie</h3>
                <p>Umyj podłogi i okna</p>
            </div>
            <div class="actions">
                <p>20.05.2016</p>
                <ul>
                    <li><a><img src="{% static 'img/edit.png' %}"></a></li>
                    <li><a><img src="{% static 'img/delete.png' %}"></a></li>
                    <li><a><img src="{% static 'img/done.png' %}"></a></li>
                </ul>
                <p class="category">Studia</p>
            </div>
        </li>
    </ul>

{% endblock %}