section.submenu{
    float: left;
    background-color: darkturquoise;
    width: 20%;
    padding: 12px;
    border-radius: 2px;
}

section.content{
    float: right;
    width: 70%;
}

section.submenu ul{
    margin-bottom: 20px;
}

section.submenu li{
    padding: 5px 3px;
}

section.submenu li a{
    color: black;
    font-size: 16px;
    font-weight: 400;
}

section.submenu h4{
    font-size: 22px;
    font-weight: 500;
}
section.submenu li a:hover{
    font-weight: bold;
}

section.submenu a.stat{
    color: black;
    font-size: 20px;
    font-weight: 600;

}

section.submenu a.stat:hover{
    color: red;
}

section.submenu button{
    background-color: white;
    border-radius: 2px;
    border: 0;
    padding: 8px 12px;
    margin: 0 auto;
    width: 160px;
    display: block;
    cursor: pointer;
    margin-bottom: 12px;

}

section.content ul.tasks{
    margin-top: 12px;
    width: 100%;
}

section.content ul.tasks li.task p{
    margin-top: 3px;
}

section.content ul.tasks li.task{
    padding: 12px 12px;
    margin-top: 12px;
    border-bottom: 1px solid black;
    border-radius: 2px;
}

section.content ul.tasks li.high{
    background-color: rgba(256,0,0, 0.6);
}

section.content ul.tasks li.medium{
    background-color: rgba(100,100,0, 0.6);
}

section.content ul.tasks li.low{
    background-color: rgba(0,256,0, 0.6);
}

section.content ul.tasks li.task:after{
    content: "";
    display: block;
    clear: both;
}

ul.tasks li.task .description{
    float: left;
    width: 60%;
}

ul.tasks li.task .actions{
    float: right;
    width: 30%;
    text-align: right;
}

ul.tasks li.task .actions li{
    float: left;
    margin-left: 12px;
}

ul.tasks li.task .actions ul{
    float: right;
}
ul.tasks li.task .actions ul:after{
    content: "";
    display: block;
    clear: both;
}

ul.tasks li.task .actions img{
    height: 25px;
    width: auto;
}

ul.tasks li.task p.category{
    clear: both;
    font-size: 12px;
}


