*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #D2D2F6;
}

header{
    width: 100%;
    background-color: rgba(256,256,256, 0.5);
    padding: 15px 0px;
}
a {
    text-decoration: none;
    }
li{
    list-style-type: none;
}

header ul{
    float: right;
    margin-right: 10px;

}

header ul li{
    float: left;
    margin-right: 10px;
    }

header ul a{
    color: black;
}
header ul a:hover{
    color: cornflowerblue;
}

header ul:after{
    content: '';
    display: block;
    clear: both;
}

header:after{
    content: "";
    display: block;
    clear: both;
}

.container{
    width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
    }
.container div.white_box{
    width: 70%;
    margin: 0 auto;
    background-color: rgba(256,256,256,0.8);
    border-radius: 2px;
    text-align: center;
    padding: 30px 0 20px 0;
    }

.container div.white_box h2{
    
}


div.register_form label{
    display: block;
    clear: both;
    margin: 0 auto;
    }

#register{
    display: block;
    width: 50%;
    margin: 0 auto;
    margin-top: 15px;
    }

div.register_form{
    background-color: rgba(256,256,256,0.8);
    width: 400px;
    margin-top: 30px;
    border-radius: 2px;
    text-align: center;
    padding: 30px 0 20px 0;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
}
div.login_form{
    background-color: rgba(256,256,256,0.8);
    width: 400px;
    margin-top: 30px;
    border-radius: 2px;
    text-align: center;
    padding: 30px 0 20px 0;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
}

div.login_form label{
    display: block;
    clear: both;
    margin: 0 auto;
}

#login{
    display: block;
    width: 50%;
    margin: 0 auto;
    margin-top: 15px;
}
